h2 {
  color: green;
  font-style: italic;
}

.notification {
  color: green;
  background: #e6fffa;
  border: 2px solid green;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.error {
  color: red;
  background: #ffe6e6;
  border: 2px solid red;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
